.logo {
    position: absolute;
    left: 308px;
    top: -65px;
    width: 150px;
    height: 211px;
}

.rectangle {
    background-color: black;
    height: 228px;
    width: 1920px;
    position: absolute;
    top: 84px;
    left: 0;
}

.tittle {
    font-size: 80px;
    font-style: normal;
    font-family: Cabin;
    position: absolute;
    left: 459px;
    top: 50px;
    color: white;
}

.body-1 {
    font-family: Cabin;
    font-size: 20px;
    letter-spacing: 6px;
    position: absolute;
    left: 459px;
    top: 215px;
    color: white;
}

.bottle {
    width: 582px;
    height: 582px;
    position: absolute;
    left: 999px;
    top: 30px;
}

.button {
    font-family: Cabin;
    color: black;
    font-size: 30px;
    background-color: transparent;
    border-radius: 20px;
    width: 173px;
    height: 45px;
    position: absolute;
    left: 971px;
    top: 320px;
    text-align: center;
    padding-top: 9px;
    padding-bottom: 0px;
    border: 2px solid black;
    
    
}

.Buy {
    font-family: Cabin;
    color: black;
    font-size: 30px;
    text-decoration: none;
}

.tittle-2 {
    font-size: 40px;
    font-family: Cabin;
    font-style: bold;
    position: absolute;
    left: 312px;
    top: 507px;
}

.body-2 {
    font-size: 20px;
    font-family: Cabin;
    width: 1212px;
    height: 147px;
    position: absolute;
    left: 312px;
    top: 601px;
}

li {

    list-style: none;
    display: inline-block;

}

li a {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

ul {
    position: absolute;
    left: 1142px;
    top: 30px;
    display: flex;
    column-gap: 30px;

}

